.header{
    width:90%;
    height:80px;
    margin-left:5%;
  
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    color:#5ECE7B;
    text-decoration:underline;
    padding-right:32px ;
}
