.paystack{
button {
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: green;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 0.8rem 1rem;
  margin-left:0.5rem
  
  }
}